<h1>RecruitR Dashboard</h1>
<ul>
    <li><%= link_to 'Skills', controller: 'skills' %></li>
    <li><%= link_to 'Managers', controller: 'managers' %></li>
    <li><%= link_to 'Candidates', controller: 'candidates' %></li>
    <li><%= link_to 'Positions', controller: 'positions' %></li>
    <li><%= link_to 'Interviews', controller: 'interviews' %></li>
</ul>