<%= link_to 'Add candidate', new_candidate_path %>
<h1>Listing candidates</h1>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>

    <% @position.candidates.each do |candidate| %>
        <tr>
            <td><%= candidate.first_name %></td>
            <td><%= candidate.last_name %></td>
            <td><%= candidate.email %></td>
            <td><%= link_to 'Show skills', candidate_path(candidate) %></td>
            <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
            <td><%= link_to 'Delete', candidate_path(candidate),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to 'Back', controller: 'dashboard' %>