<h1>All positions</h1>

<table>
    <% @positions.each do |position| %>
        <tr>
            <td><%= link_to position.title, position_path(position) %></td>
            <td>
                <% position.skills.each do |skill| %>
                    #<%= skill.name %>&nbsp;
                <% end %>
            </td>
            <td>
                <%= pluralize(Candidate.where(position: position).count, "candidate") %>
            </td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to 'Add position', new_position_path %>
<%= link_to 'Back', controller: 'dashboard' %>