<h2>Open position: <%= @position.title %></h2>

<p>
    <strong>Description:</strong><br>
    <%= @position.description %>
</p>

<p>
    <strong>Skills:</strong>
    <%= raw @position.all_skills %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %>
<%= link_to 'Delete', position_path(@position),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete position ' + @position.title + ' and all assigned candidates?' } %>
<%= link_to 'Back', positions_path %>