<h2>Update Interview</h2>

<% # form for editing or scheduling an interview %>
<%= form_with model: @interview, local: true do |form| %>
    
    <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@interview.errors.count, "error") %> prohibited
        this interview from being scheduled:
      </h2>
      <ul>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= form.label :candidate %><br>
      <%= form.collection_select :candidate_id, Candidate.all, :id, :full_name %>
    </p>
    <p>
      <%= form.label :manager %><br>
      <%= form.collection_check_boxes :manager_ids, Manager.all, :id, :full_name %>
    </p>
    <p>
      <%= form.label :location %>
      <%= form.text_field :location, required: true %>
    </p>
    <p>
      Start date and time 
      <%= form.text_field :start_datetime, placeholder: 'Click to select', required: true %>
      <script>
      jQuery('#interview_start_datetime').datetimepicker();
      </script>
    </p>
    <p>
      End date and time  
      <%= form.text_field :end_datetime, placeholder: 'Click to select', required: true %>
      <script>
      jQuery('#interview_end_datetime').datetimepicker();
      </script>
    </p>
    <p>
      <%= form.submit %>
    </p>

<% end %>