<h2>Scheduled interviews</h2>
<%= link_to 'Schedule an interview', new_interview_path %>
<table>
    <tr>
        <th>Candidate</th>
        <th>Location</th>
        <th>Date</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Managers</th>
    </tr>

    <% @interviews.each do |interview| %>
        <tr>
            <td><%= interview.candidate.first_name %> <%= interview.candidate.last_name %></td>
            <td><%= interview.location %></td>
            <td><%= interview.start_datetime.to_date %></td>
            <td><%= interview.start_datetime.to_s(:time) %></td>
            <td><%= interview.end_datetime.to_s(:time) %></td>
            <td>
                <% interview.managers.each do |manager| %>
                    <%= manager.first_name %> <%= manager.last_name %><br>
                <% end %>
            </td>
            <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
            <td><%= link_to 'Delete', interview_path(interview),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>