<% # form for matching candidate with interviewers %>
<h2>Matching <%= @candidate.first_name %></h2>
<p><%= @candidate.first_name %> has been added to the <%= @candidate.position.title %> position!</p>
<p>Match <%= @candidate.first_name %> with a recruiter for the skills:
<% @candidate.skills.each do |skill| %>
    #<%= skill.name %>
<% end %>
<%= form_with model: @interview, local: true do |form| %>
    
    <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@interview.errors.count, "error") %> prohibited
        this interview from being scheduled:
      </h2>
      <ul>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% # hidden field for a candidate parameter %>
    <%= form.hidden_field :candidate_id, :value => @candidate.id %>
  <% # manager selection fields %>
    <p>
      <% if @matching_managers.present? %>
      <%= form.label :manager, 'Available managers with matching skills:' %><br>
      <%= form.collection_check_boxes :manager_ids, @matching_managers, :id, :full_name_with_skills do |cbox| %>
        <% cbox.label do %>
          <%= cbox.check_box + cbox.text %><br />
        <% end %>
      <% end %>
      <% else %>
      <strong><%= form.label :manager, 'No managers with matching skills found. Listing all managers:' %></strong><br>
      <%= form.collection_check_boxes :manager_ids, Manager.all, :id, :full_name_with_skills do |cbox| %>
        <% cbox.label do %>
          <%= cbox.check_box + cbox.text %><br />
        <% end %>
      <% end %>
      <% end %>
    </p>
    <p>
      <%= form.submit %>
    </p>

<% end %>