<p>
    <strong>Candidate:</strong>
    <%= @interview.candidate.first_name %> <%= @interview.candidate.last_name %>
</p>

<p>
    <strong>Location:</strong>
    <%= @interview.location %>
</p>

<p>
    <strong>Start datetime:</strong>
    <%= @interview.start_datetime %>
</p>

<p>
    <strong>Managers:</strong><br>
    <% @interview.managers.each do |manager| %>
    <%= manager.first_name %>
    <% end %>
</p>

<%= link_to 'Back', interviews_path %>