<%= form_with model: @manager, local: true do |form| %>
    
    <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@manager.errors.count, "error") %> prohibited
        this manager from being added:
      </h2>
      <ul>
        <% @manager.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= form.label :first_name %><br>
      <%= form.text_field :first_name %>
    </p>

    <p>
      <%= form.label :last_name %><br>
      <%= form.text_field :last_name %>
    </p>

    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>

    <p>
      <%= form.label :skills %><br>
      <%= form.text_field :all_skills, placeholder: "Skills separated with comma" %>
   
    <p>
      <%= form.submit "Post", class: "button"%>
    </p>

<% end %>