<h2>All managers</h2>
<%= link_to 'Add manager', new_manager_path %>
<% if @managers.each.any? %>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <th>Skills</th>
    </tr>

    <% @managers.each do |manager| %>
        <tr>
            <td><%= manager.first_name %></td>
            <td><%= manager.last_name %></td>
            <td><%= manager.email %></td>
            <td>
                <% manager.skills.each do |skill| %>
                    #<%= skill.name %>&nbsp;
                <% end %>
            </td>
            <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
            <td><%= link_to 'Delete', manager_path(manager),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete ' + manager.first_name + ' ' + manager.last_name + '?' } %></td>
        </tr>
    <% end %>
</table>
<% else %>
<h3>No managers added.</h3>
<% end %>
