<p>
    <strong>First name:</strong>
    <%= @manager.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @manager.last_name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @manager.email %>
</p>

<p>
    <strong>Skills:</strong>
    <%= raw @manager.all_skills %>
</p>

<%= link_to 'Back', managers_path %>