<%= link_to 'Add skill', new_skill_path %>
<h1>Listing skills</h1>

<table>
    <tr>
        <th>Skill name</th>
    </tr>

    <% @skills.each do |skill| %>
        <tr>
            <td><%= skill.name %></td>
            <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
            <td><%= link_to 'Delete', skill_path(skill),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<br>
<%= link_to 'Back', controller: 'dashboard' %>