<% # View to display candidates. If parameter position_id passed %>
<% # then candidates only for given position displayed %>
<h2>All candidates
<% if params[:position_id].present? %>
for the 
    <%=   Position.find(params[:position_id]).title %>
     position
<% end %>
</h2>
<% if params[:position_id].present? %>
<% # add candidate to a position selected for listing %>
<%= link_to 'Add candidate for this position', action: 'new', position_id: params[:position_id] %>
<% else %>
<%= link_to 'Add candidate', new_candidate_path %>
<% end %>
<% if @candidates.count > 0 %>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail</th>
        <% if params[:position_id].blank? %>
        <th>Position</th>
        <% end %>
        <th>Interviewers</th>
        <th>Skills</th>
    </tr>

    <% @candidates.each do |candidate| %>
        <tr>
            <td><%= candidate.first_name %></td>
            <td><%= candidate.last_name %></td>
            <td><%= candidate.email %></td>
            <% if params[:position_id].blank? %>
            <td><%= candidate.position.title %></td>
            <% end %>
            <td>
                <% if candidate.interview.present? && candidate.interview.managers.present? %>
                <% candidate.interview.managers.each do |manager| %>
                    <%= manager.full_name %><br>
                <% end %>
                <% else %>
                    <%= link_to 'Assign managers', controller: 'interviews', action: 'new', candidate_id: candidate.id %>
                <% end %>
            </td>
            <td>
                <%= candidate.all_skills_with_hashtags %>
            </td>
            <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
            <td><%= link_to 'Delete', candidate_path(candidate),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete ' + candidate.first_name + ' ' + candidate.last_name + '?' } %></td>
        </tr>
    <% end %>
</table>
<% else %>
<h3>No candidates to list.</h3>
<% end %>