<h2>Matching <%= @candidate.first_name %></h2>
<p><%= @candidate.first_name %> has been added to the <%= @candidate.position.title %> position!</p>
<p>Match <%= @candidate.first_name %> with a recruiter for the skills:
<% @candidate.skills.each do |skill| %>
    #<%= skill.name %>
<% end %>
<% @candidate.interview = Interview.new %>
<%= form_for @candidate.interview do |form| %>
    <%= form.hidden_field :candidate %>
    <%= hidden_field_tag :candidate, @candidate %>
    <p>
      <%= form.label :manager %><br>
      <%= form.collection_check_boxes :manager_ids, Manager.all, :id, :full_name %>
    </p>
    <p>
      <%= form.submit %>
    </p>

<% end %>