<p>
    <strong>First name:</strong>
    <%= @candidate.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @candidate.last_name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @candidate.email %>
</p>

<p>
    <strong>Skills:</strong>
    <%= raw @candidate.all_skills %>
</p>

<%= link_to 'Back', candidates_path %>