<!DOCTYPE html>
<html>
  <head>
    <title>RecruitR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
    <h1>RecruitR</h1>
    <% # adding shared header menu %>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
